html,
body {
  margin: 0;
  padding: 0;
  width: 100%; /* Ensure full width */
  height: 100%; /* Ensure full height */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

a {
  color: inherit; /* This will make the link color the same as the text around it, remove if you want a specific color */
  text-decoration: none; /* Removes the underline */
}

/* To change the color on hover and maintain no underline */
a:hover {
  text-decoration: none;
}
