#product-detail {
  display: flex;
  align-items: start;
  gap: 20px; // Adjust the gap as needed
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 10px;
  margin-bottom: 20px;

  .product-image {
    flex: 0 1 200px; // Adjust the flex ratio as needed
    flex-basis: 200px;
    

    img {
      width: 100%;
      max-width: 100px; // Adjust maximum width as needed
      height: auto;
      border-radius: 8px;
    }
  }

  .product-info {
    flex: 2; // Adjust the flex ratio as needed

    h3 {
      color: #1a1a1a;
      font-size: 1.5em;
      margin-top: 0;
    }

    p {
      color: #222222;
      font-size: 1em;
      line-height: 1.4;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}
#similar-products {
  margin-left: 30px;
  margin: 20px;
  margin: 60px;
}
#similar-products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // 3 equal columns
  gap: 50px; // Space between grid items

  div { // Each grid item
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #c0c0c0; // Example border styling
    border-radius: 1px; // Optional: if you want rounded corners
    padding: 15px; // Optional: to give some space between the border and content
    background-color: #FFF; // Optional: background color for the grid item
    margin-bottom: 50px;

    img {
      width: 100%; // Adjust as needed
      max-width: 400px; // Maximum width of image
      height: 333px;
      margin-bottom: 10px;
      margin-top: 30px;
    }

    h4 {
      font-size: 1.1em;
      margin-bottom: 5px;
    }

    p {
      font-size: 1em;
      color: #171717;
    }
  }
}
@media (max-width: 768px) { // Adjust the breakpoint as needed
  #product-detail {
    flex-direction: column;
    align-items: center;

    .product-image {
      flex-basis: auto;
      max-width: 100%; // Image takes full width

      img {
        max-width: 100%; // Adjust image max-width for smaller screens
      }
    }

    .product-info {
      flex: none; // Remove the flex ratio for smaller screens
      width: 100%; // Full width for product info
    }
  }
}
@media (max-width: 768px) { // Adjust the breakpoint as needed
  #similar-products-grid {
    grid-template-columns: repeat(2, 1fr); // 2 columns for medium screens
  }
}

@media (max-width: 480px) { // For very small screens
  #similar-products-grid {
    grid-template-columns: 1fr; // 1 column for small screens
  }
}
